<access>
  <page id="1083" loginPage="1088" noRightsPage="1087" simple="False">
    <group id="Client" />
  </page>
  <page id="1084" loginPage="1088" noRightsPage="1087" simple="False">
    <group id="Client1" />
  </page>
  <page id="1086" loginPage="1088" noRightsPage="1087" simple="False">
    <group id="Client2" />
  </page>
</access>