<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root[ 
<!ELEMENT Education ANY>
<!ATTLIST Education id ID #REQUIRED>
<!ELEMENT Experience ANY>
<!ATTLIST Experience id ID #REQUIRED>
<!ELEMENT General ANY>
<!ATTLIST General id ID #REQUIRED>
<!ELEMENT HomePage ANY>
<!ATTLIST HomePage id ID #REQUIRED>
<!ELEMENT PersonalProjects ANY>
<!ATTLIST PersonalProjects id ID #REQUIRED>
<!ELEMENT Project ANY>
<!ATTLIST Project id ID #REQUIRED>
<!ELEMENT School ANY>
<!ATTLIST School id ID #REQUIRED>
<!ELEMENT Skill ANY>
<!ATTLIST Skill id ID #REQUIRED>
<!ELEMENT Skills ANY>
<!ATTLIST Skills id ID #REQUIRED>
<!ELEMENT WorkExperience ANY>
<!ATTLIST WorkExperience id ID #REQUIRED>

]>
<root id="-1">
  <HomePage id="1122" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2013-05-08T16:45:03" updateDate="2013-05-27T14:03:24" nodeName="Home" urlName="home" path="-1,1122" isDoc="" nodeType="1105" creatorName="admin" writerName="admin" writerID="0" template="1121">
    <PersonalProjects id="1333" parentID="1122" level="2" creatorID="0" sortOrder="0" createDate="2013-05-23T17:16:13" updateDate="2013-05-27T10:11:05" nodeName="Projects" urlName="projects" path="-1,1122,1333" isDoc="" nodeType="1325" creatorName="admin" writerName="admin" writerID="0" template="1354">
      <heading>Personal Projects</heading>
      <title>Dynamic Loop | Nicolas Metaye | Personal Projects</title>
      <metaDescription>Nicolas Metaye Personal Projects</metaDescription>
      <metaKeywords>Nicolas Metaye Personal Projects</metaKeywords>
      <Project id="1356" parentID="1333" level="3" creatorID="0" sortOrder="0" createDate="2013-05-26T15:30:55" updateDate="2013-05-27T15:33:41" nodeName="Dependency Injection and IoC" urlName="dependency-injection-and-ioc" path="-1,1122,1333,1356" isDoc="" nodeType="1352" creatorName="admin" writerName="admin" writerID="0" template="1355">
        <heading>Dependency Injection and IoC</heading>
        <title>Dynamic Loop | Nicolas Metaye | Dependency Injection and IoC</title>
        <metaDescription>Nicolas Metaye Dependency Injection and IoC</metaDescription>
        <metaKeywords>Nicolas Metaye Dependency Injection and IoC</metaKeywords>
        <bodyText><![CDATA[<p>I decided to focus on modular design this time. <br /> In the AutoMapper project, we had a single project containing all the views, business logic and data layer.</p>
<div class="separator" style="clear: both; text-align: center;"><img width="320" height="163" src="/media/1036/ioc-diagrams_320x163.jpg" alt="IOC" style="clear: right; float: right; margin-left: 5px; margin-bottom: 1em;"/></div>
<p>We now have:</p>
<ul>
<li>a Common project with the basic extensions and helpers</li>
<li>a Domain project with the entities objects and the repositories (including data layer base management)</li>
<li>a Models project with the models and the mappings definition that are used in the controllers</li>
<li>and finally the MVC project with only the controllers and the views</li>
</ul>
<p>Refactoring was the first step of making this project more "modular". <br /> The second step of my approach was to implement in my code DI (Dependency Injection) and IoC (Inversion of Control).</p>
<div class="separator" style="clear: both; text-align: center;"><img width="305" height="162" src="/media/1037/traditional-vs-di_305x162.jpg" alt="DI" style="clear: right; float: right; margin-left: 5px; margin-bottom: 1em;"/></div>
<p>To make it short, Dependency Injection and Inversion of Control are object-oriented practices that helps you to implement your objects more independently as you "inject" the dependencies to the objects you are going to use. <br /> It's called "inversion" as it doesn't follow the flow of the business logic usually determined by objects that are statically assigned to one another. <br /> With DI and IoC, object interactions are defined through abstractions and the flow of business logic is instantiated by an assembler object at run-time.</p>
<p>It's a very powerful pattern that can allow to load dynamically the dependencies as "plugins". However in a more common way it also forces the developer to think his implementation as independent and simple units of code which obviously make everything more readable, maintainable, understandable and testable.</p>
<p>To achieve that in this project, I used <a href="http://docs.structuremap.net/">StructureMap</a>. The only subtle part is to set a controller factory in the global.asax to allow the controllers to be instantiated using StructureMap. <br /> I defined only one IoC registry (in the Domain project) that defines the bindings between the interfaces and their implementations. It's basically using the defaut conventions.</p>]]></bodyText>
        <sourceGitLink>https://github.com/nicolasmetaye/DynamicLoopIoC</sourceGitLink>
        <projectLink>http://mvc.dynamic-loop.com/</projectLink>
        <previewText>Dependency Injection and Inversion of Control are object-oriented practices that helps you to implement your objects more independently as you "inject" the dependencies to the objects you are going to use.  It's called "inversion" as it doesn't follow the flow of the business logic usually determined by objects that are statically assigned to one another.</previewText>
      </Project>
      <Project id="1357" parentID="1333" level="3" creatorID="0" sortOrder="1" createDate="2013-05-26T15:34:26" updateDate="2013-05-27T15:34:09" nodeName="AutoMapper" urlName="automapper" path="-1,1122,1333,1357" isDoc="" nodeType="1352" creatorName="admin" writerName="admin" writerID="0" template="1355">
        <heading>AutoMapper</heading>
        <title>Dynamic Loop | Nicolas Metaye | AutoMapper</title>
        <metaDescription>Nicolas Metaye AutoMapper</metaDescription>
        <metaKeywords>Nicolas Metaye AutoMapper</metaKeywords>
        <bodyText><![CDATA[<p>This project is an iteration from the MVC project but with <a href="http://automapper.org/">AutoMapper</a> integrated to it. <br />AutoMapper is a very useful library that allows to do powerful mapping in a clean and easy way.</p>
<div class="separator" style="clear: both; text-align: left;"><img width="320" height="33" src="/media/1034/27_320x33.jpg" alt="AutoMapper"/></div>
<p>Using AutoMapper with MVC is very natural as you almost always want to map your data objects to your models.</p>
<p>The concept of AutoMapper is to define some profiles that contain all your maps. At the launch of your application you register all the profiles and you can use the mapping functions from the Mapper class provided by the library. <br /> In the project, all the maps are registered dynamically in the AutoMapperConfiguration class to avoid having to change it for each time I add a map in the future.</p>
<p>Another advantage of AutoMapper is to move a part of the business logic that was in the controllers to the profiles classes. <br /> It makes the controllers cleaner and makes the maps very easy to unit test as well (have a look the MappingTests class to see them).</p>]]></bodyText>
        <sourceGitLink>https://github.com/nicolasmetaye/DynamicLoopAutoMapper</sourceGitLink>
        <projectLink>http://mvc.dynamic-loop.com/</projectLink>
        <previewText>AutoMapper is a very useful library that allows to do powerful mapping in a clean and easy way.  Using AutoMapper with MVC is very natural as you almost always want to map your data objects to your models.</previewText>
      </Project>
      <Project id="1358" parentID="1333" level="3" creatorID="0" sortOrder="2" createDate="2013-05-26T15:36:27" updateDate="2013-05-27T15:34:34" nodeName="MVC" urlName="mvc" path="-1,1122,1333,1358" isDoc="" nodeType="1352" creatorName="admin" writerName="admin" writerID="0" template="1355">
        <heading>MVC</heading>
        <title>Dynamic Loop | Nicolas Metaye | MVC</title>
        <metaDescription>Nicolas Metaye MVC</metaDescription>
        <metaKeywords>Nicolas Metaye MVC</metaKeywords>
        <bodyText><![CDATA[<p>This project is a simple MVC project. I took an example of a book library with the following requirements:</p>
<ul>
<li>A book is defined by the ISBN, a title, and an author.</li>
<li>A book can be added, edited and deleted.</li>
<li>An author can be added, edited and deleted.</li>
<li>All the fields have to be validated.</li>
<li>A list of the books has to be displayed. A search on the ISBN and the title has to be provided.</li>
<li>A list of the authors has to be displayed.</li>
<li>Persistence is not mandatory</li>
</ul>
<div style="clear: both; text-align: center; margin-right: 5px;"><img width="320"  height="272" src="/media/1035/aspnet-razor-view-engine-mvc3_320x272.jpg" alt="Razor"/></div>
<p>For this project I've chosen to use MVC (actually MVC 3 Razor). <br /> The choice came naturally to use MVC as it's definitely a great alternative to the good old ASP.NET Webforms.</p>
<p>Using MVC makes the developer come back to the "roots" of web development and that's really a good thing. It forces us to understand more what's going on with the web requests and it also forces us to keep things simple and more readable. <br /> I almost didn't use Javascript in this project(coming soon as I want to play with Knockout.js) but I can see that the MVC way of making server requests using JavaScript is far more simple than using the UpdatePanel from the WebForms.</p>
<p>As I explained in the project requirements, I didn't care about persistence. The objects (authors and book) are stored in memory. Have a look at the Repository class to see how I managed it.</p>
<p>An other point from this project I can talk about is unit testing. I tried to follow the unit testing approach, testing all the independent units of my code I use in the project. <br /> I didn't do what I would call integration tests (testing UI and the business logic contained in the controllers) as I believe these kind of tests should be made with some Behavior Driven Development (BDD) tools like <a href="http://www.specflow.org/">Specflow</a>. It will come in a later project.</p>]]></bodyText>
        <sourceGitLink>https://github.com/nicolasmetaye/DynamicLoopMVC</sourceGitLink>
        <projectLink>http://mvc.dynamic-loop.com/</projectLink>
        <previewText>Using MVC makes the developer come back to the "roots" of web development and that's really a good thing. It forces us to understand more what's going on with the web requests and it also forces us to keep things simple and more readable. </previewText>
      </Project>
    </PersonalProjects>
    <Skills id="1334" parentID="1122" level="2" creatorID="0" sortOrder="1" createDate="2013-05-23T17:19:31" updateDate="2013-05-23T17:19:34" nodeName="Skills" urlName="skills" path="-1,1122,1334" isDoc="" nodeType="1326" creatorName="admin" writerName="admin" writerID="0" template="0">
      <Skill id="1341" parentID="1334" level="3" creatorID="0" sortOrder="0" createDate="2013-05-23T17:34:22" updateDate="2013-05-25T17:55:08" nodeName=".NET Framework" urlName="net-framework" path="-1,1122,1334,1341" isDoc="" nodeType="1328" creatorName="admin" writerName="admin" writerID="0" template="0">
        <name>.NET Framework</name>
        <experience>ADVANCED</experience>
        <description><![CDATA[<p>C# (8 years), ASP.NET (5 years), MVC.NET (3 years), WPF (3 months)</p>]]></description>
      </Skill>
      <Skill id="1343" parentID="1334" level="3" creatorID="0" sortOrder="1" createDate="2013-05-23T17:45:17" updateDate="2013-05-25T17:54:38" nodeName="Front-end" urlName="front-end" path="-1,1122,1334,1343" isDoc="" nodeType="1328" creatorName="admin" writerName="admin" writerID="0" template="0">
        <name>Front-end</name>
        <experience>GOOD</experience>
        <description><![CDATA[<p>Javascript (5 years), jQuery (4 years), Knockout (1 year), HTML / CSS (7 years)</p>]]></description>
      </Skill>
      <Skill id="1342" parentID="1334" level="3" creatorID="0" sortOrder="2" createDate="2013-05-23T17:37:31" updateDate="2013-05-25T17:55:48" nodeName="DBMS" urlName="dbms" path="-1,1122,1334,1342" isDoc="" nodeType="1328" creatorName="admin" writerName="admin" writerID="0" template="0">
        <name>DBMS</name>
        <experience>GOOD</experience>
        <description><![CDATA[<p>SQL Server (6 years), SQL / PL SQL (8 years), Oracle (2 years), Database optimisation using SQL Profiler, Execution Plan Analysis, Indexes</p>]]></description>
      </Skill>
      <Skill id="1345" parentID="1334" level="3" creatorID="0" sortOrder="3" createDate="2013-05-23T17:49:22" updateDate="2013-05-25T17:56:35" nodeName="Development Software" urlName="development-software" path="-1,1122,1334,1345" isDoc="" nodeType="1328" creatorName="admin" writerName="admin" writerID="0" template="0">
        <name>Development Software</name>
        <experience />
        <description><![CDATA[<p>Visual Studio (8 years), Continuous Integration with Cruise Control, TeamCity and Specflow (4 years), Source Control with TFS and SVN (8 years)</p>]]></description>
      </Skill>
      <Skill id="1346" parentID="1334" level="3" creatorID="0" sortOrder="4" createDate="2013-05-23T17:52:07" updateDate="2013-05-25T17:56:45" nodeName="Executive" urlName="executive" path="-1,1122,1334,1346" isDoc="" nodeType="1328" creatorName="admin" writerName="admin" writerID="0" template="0">
        <name>Executive</name>
        <experience />
        <description><![CDATA[<p>AGILE method with SCRUM (5 years), Technical lead (2 years)</p>]]></description>
      </Skill>
      <Skill id="1344" parentID="1334" level="3" creatorID="0" sortOrder="5" createDate="2013-05-23T17:47:31" updateDate="2013-05-25T17:57:00" nodeName="Languages" urlName="languages" path="-1,1122,1334,1344" isDoc="" nodeType="1328" creatorName="admin" writerName="admin" writerID="0" template="0">
        <name>Languages</name>
        <experience />
        <description><![CDATA[<p>English (fluent), French (mother tongue), Dutch (beginner)</p>]]></description>
      </Skill>
    </Skills>
    <WorkExperience id="1335" parentID="1122" level="2" creatorID="0" sortOrder="2" createDate="2013-05-23T17:19:42" updateDate="2013-05-23T17:19:44" nodeName="Work Experience" urlName="work-experience" path="-1,1122,1335" isDoc="" nodeType="1327" creatorName="admin" writerName="admin" writerID="0" template="0">
      <Experience id="1347" parentID="1335" level="3" creatorID="0" sortOrder="1" createDate="2013-05-23T17:55:22" updateDate="2013-05-27T15:22:21" nodeName="dotDigitalGroup" urlName="dotdigitalgroup" path="-1,1122,1335,1347" isDoc="" nodeType="1329" creatorName="admin" writerName="admin" writerID="0" template="0">
        <companyName>dotDigitalGroup</companyName>
        <period>February 2009 to October 2012</period>
        <position>Senior Developer / Technical Lead</position>
        <description><![CDATA[<p><span style="text-decoration: underline;">Projects</span>: eCommerce platforms (standalone deployment and SaaS called dotCommerce Enterprise and dotCommerce SaaS). 30-people team. <br /><span style="text-decoration: underline;">Personal work on dotCommerce Enterprise</span>: Technical lead. </p>
<ul>
<li>Refactoring, optimisation and unit testing of the existing framework (DB and code) and development of new features for the platform. </li>
<li>Upgrade and maintenance of front-end sites using the framework. </li>
<li>Code review of the external resources developing the front-end sites using the framework. </li>
<li>Implement and follow AGILE methodology (SCRUM) in the framework development.</li>
</ul>
<p><span style="text-decoration: underline;"> Personal work on the dotCommerce SaaS</span>: Senior developer. </p>
<ul>
<li>Using previous technical and product experience to create a SaaS platform.</li>
<li>Development of a themes manager based on Liquid to allow an easy and powerful front-end customisation. </li>
<li>Integration with PayPal Express Checkout. </li>
<li>Development of an MVC helper to manage form fields styles and validations in the entire application. </li>
</ul>
<p><span style="text-decoration: underline;"> Technologies</span>: .NET 4.0 (C#, ASP.NET, MVC, Visual Studio 2010/2012), JavaScript (jQuery, Knockout.js), SQL Server 2008, Cruise Control, TeamCity, Specflow</p>]]></description>
        <location>London (UK)</location>
      </Experience>
      <Experience id="1348" parentID="1335" level="3" creatorID="0" sortOrder="2" createDate="2013-05-23T17:59:52" updateDate="2013-05-27T15:22:21" nodeName="Skinkers" urlName="skinkers" path="-1,1122,1335,1348" isDoc="" nodeType="1329" creatorName="admin" writerName="admin" writerID="0" template="0">
        <companyName>Skinkers</companyName>
        <period>September 2008 to February 2009</period>
        <position>Software Engineer</position>
        <description><![CDATA[<p><span><span style="text-decoration: underline;">Project</span>: Live Notification Platform (LNP) solution separated in several windows services and web sites.</span><br /><span><span style="text-decoration: underline;">Personal work</span>: <br /></span></p>
<ul>
<li>Technical specifications contribution during SCRUM planning meetings.</li>
<li><span>Development of queries management and UI on the main web site.</span></li>
<li><span>Fixing bugs during the QA phase.</span></li>
<li><span>Development of administration functionalities (ASP.NET pages and MMC snap-in) to manage application properties.</span></li>
<li><span>Nightly stress scenarios upgrade and run, unit tests coverage improvement.</span></li>
</ul>
<p><span><span style="text-decoration: underline;">Technologies</span>: .NET 3.0 (C#, ASP.NET, Nunit, MS Visual Studio 2008), MSMQ 3, AJAX (AjaxPro 2.0), SQL </span><span>Server 2005, Cruise Control, SVN, Ncover, Rally, Nant</span></p>]]></description>
        <location>London (UK)</location>
      </Experience>
      <Experience id="1349" parentID="1335" level="3" creatorID="0" sortOrder="3" createDate="2013-05-23T18:03:41" updateDate="2013-05-27T15:22:21" nodeName="Perigee" urlName="perigee" path="-1,1122,1335,1349" isDoc="" nodeType="1329" creatorName="admin" writerName="admin" writerID="0" template="0">
        <companyName>Perigee</companyName>
        <period>October 2006 to August 2008</period>
        <position>Software Engineer</position>
        <description><![CDATA[<p><span><span style="text-decoration: underline;">Project</span>: Media Library application based on a FLEX client and a Services Oriented Architecture .NET server.</span> <br /> <span><span style="text-decoration: underline;">Personal work</span>: Technologies choice, application architecture design and technical specifications processes contribution. </span></p>
<ul>
<li><span>Specifications and Development of a Data Base manager that generates the application Data Access Layer, creates and reads Data Base schemas.</span></li>
<li><span>Training and technical lead of external resources (2 russian staff) on FLEX technology and application architecture.</span></li>
<li><span>Development of several application services (Monitoring, Reporting, Logs and Enterprise).</span></li>
<li><span>Development of FLEX modules (windows and menus design and behaviours management of GUI, design of the Model View Controller architecture used in the client).</span></li>
</ul>
<p><span><span style="text-decoration: underline;">Technologies</span>: .NET 3.0 (C#, Winforms, WCF, Nunit, SourceSafe, MS Visual Studio 2005), FLEX 2.0 to 3.0 (AS3, Cairngorm, Flex Builder 2 to 3), Oracle 10</span></p>]]></description>
        <location>Paris (France)</location>
      </Experience>
      <Experience id="1350" parentID="1335" level="3" creatorID="0" sortOrder="4" createDate="2013-05-23T18:04:48" updateDate="2013-05-27T15:22:22" nodeName="Sharing Knowledge" urlName="sharing-knowledge" path="-1,1122,1335,1350" isDoc="" nodeType="1329" creatorName="admin" writerName="admin" writerID="0" template="0">
        <companyName>Sharing Knowledge</companyName>
        <period>October 2005 to October 2006</period>
        <position>Web Developer (contractor)</position>
        <description><![CDATA[<p><span><span style="text-decoration: underline;">Project</span>: Knowledge management application based on an AJAX / ASP.NET client and .NET server.</span><br /> <span><span style="text-decoration: underline;">Personal work</span>: </span></p>
<ul>
<li>Development of Administration module (users, groups, forms types and tree structure</li>
<li><span>management) and Security module (licences, roles and user rights management).</span></li>
<li><span>Quality Assistance process contribution for the first release (2 months).</span></li>
</ul>
<p><span><span style="text-decoration: underline;">Technologies</span>: .NET 2.0 (C#, MS Visual Studio 2005), AJAX, Oracle 9i</span></p>]]></description>
        <location>Paris (France)</location>
      </Experience>
      <Experience id="1351" parentID="1335" level="3" creatorID="0" sortOrder="5" createDate="2013-05-23T18:06:10" updateDate="2013-05-27T15:22:22" nodeName="Celtrino" urlName="celtrino" path="-1,1122,1335,1351" isDoc="" nodeType="1329" creatorName="admin" writerName="admin" writerID="0" template="0">
        <companyName>Celtrino</companyName>
        <period>February 2005 to October 2005</period>
        <position>Intern Software Developer</position>
        <description><![CDATA[<p><span><span style="text-decoration: underline;">Project</span>: Microsoft CRM Integration and adaptation to the company developing additional modules.</span><br /> <span><span style="text-decoration: underline;">Personal work</span>: </span></p>
<ul>
<li>Development of import / export data module.</li>
<li><span>Development of additional functionalities modules.</span></li>
<li><span>Documentation / handbook writing and users training (sales and marketing services).</span></li>
</ul>
<p><span><span style="text-decoration: underline;">Technologies</span>: MS CRM 1.2, .NET 1.1 (C#, MS Visual Studio 2003), SQL Server 2000</span></p>]]></description>
        <location>Dublin (Ireland)</location>
      </Experience>
      <Experience id="1363" parentID="1335" level="3" creatorID="0" sortOrder="0" createDate="2013-05-27T15:22:10" updateDate="2013-05-27T15:31:11" nodeName="Amiculum Digital" urlName="amiculum-digital" path="-1,1122,1335,1363" isDoc="" nodeType="1329" creatorName="admin" writerName="admin" writerID="0" template="0">
        <companyName>Amiculum Digital</companyName>
        <period>October 2012 to Present</period>
        <position>Senior Developer</position>
        <description><![CDATA[<p><span><span style="text-decoration: underline;">Projects</span>: Being part of the digital agency of the Amiculum group, the work is very diversified and each project evolves with the customers' needs. Most of the projets are web sites on the Umbraco platform and web applications using MVC.NET.</span><br /><span><span style="text-decoration: underline;">Personal work</span>: </span></p>
<ul>
<li><span>Providing estimates and defining technical architecture for the projects.</span></li>
<li><span>Recruitment of new developers (creation of technical test, interviews).</span></li>
<li><span>Development of reusable Umbraco plugins and extensions.</span></li>
<li><span>Optimisation and development of new features for a web based Gantt application.</span></li>
</ul>
<p><span><span style="text-decoration: underline;">Technologies</span>: .NET 4.0 (C#, MVC, ASP.NET, WPF, Visual Studio 2012), JavaScript (jQuery, Knockout.js), SQL Server 2008/2012, Umbraco 4.x, Umbraco 6.x</span></p>]]></description>
        <location>London (UK)</location>
      </Experience>
    </WorkExperience>
    <Education id="1338" parentID="1122" level="2" creatorID="0" sortOrder="3" createDate="2013-05-23T17:31:05" updateDate="2013-05-23T17:31:07" nodeName="Education" urlName="education" path="-1,1122,1338" isDoc="" nodeType="1336" creatorName="admin" writerName="admin" writerID="0" template="0">
      <School id="1340" parentID="1338" level="3" creatorID="0" sortOrder="0" createDate="2013-05-23T17:31:54" updateDate="2013-05-23T17:33:51" nodeName="Orsay" urlName="orsay" path="-1,1122,1338,1340" isDoc="" nodeType="1337" creatorName="admin" writerName="admin" writerID="0" template="0">
        <schoolName>Master of Engineering (Computer Science) at Orsay university</schoolName>
        <period>2000 - 2005</period>
      </School>
      <School id="1339" parentID="1338" level="3" creatorID="0" sortOrder="1" createDate="2013-05-23T17:31:46" updateDate="2013-05-27T12:11:28" nodeName="High School diploma" urlName="high-school-diploma" path="-1,1122,1338,1339" isDoc="" nodeType="1337" creatorName="admin" writerName="admin" writerID="0" template="0">
        <schoolName>French High School Diploma specialised in Mathematics</schoolName>
        <period>June 2000</period>
      </School>
    </Education>
    <heading>Resume</heading>
    <title>Dynamic Loop | Nicolas Metaye</title>
    <metaDescription>Nicolas Metaye Resume CV</metaDescription>
    <metaKeywords>Nicolas Metaye Resume CV</metaKeywords>
    <fullName>Nicolas Metaye</fullName>
    <jobTitle>.NET Senior Developer</jobTitle>
    <introduction>The main technologies I'm working with are .NET, JavaScript and SQL Server. I'm always happy to learn new patterns, concepts, technologies and languages (and not only the programming ones!). You will find on this web site my resume and some of my personal projects / mockups /experiments.</introduction>
    <resumePDF>1143</resumePDF>
    <address>Baker Street, London, UK</address>
    <email>nicolas.metaye@gmail.com</email>
    <gitHubLink>https://github.com/nicolasmetaye</gitHubLink>
    <linkedInLink>http://www.linkedin.com/pub/nicolas-metaye/33/666/277</linkedInLink>
  </HomePage>
</root>