@inherits Umbraco.Web.Mvc.UmbracoViewPage<DynamicLoop.Components.Models.Home.EducationModel>
@{
    Layout = null;
}

<h2>@Model.Title</h2>
<ul class="list" id="educationContent">
    <li class="arrow-up">&nbsp;</li>
    @foreach(var school in Model.Schools)
    {
        <li>
            <h3>@school.Name</h3>  <h5>@school.Period</h5>
            <div class="clear-all"></div>
        </li>
    }
</ul>    