@inherits Umbraco.Web.Mvc.UmbracoViewPage<DynamicLoop.Components.Models.Master.MetaTagsModel>
@{
    Layout = null;
}

<h2>Education </h2>
<ul class="list">
    <li class="arrow-up">&nbsp;</li>
    <li>
        <h3> BASIS Charter, Tucson - High school </h3>  <h5> 2002 - 2006 </h5>
                          
        <div class="description">
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut  laoreet dolore magna aliqua erat volutpat. 
            Ut wisi enim ad minim veniam, quis nostrud exerci tation ulla  mcorper suscipit lobortis nisl ut aliquip.
            <ol>
                <li>Lorem ipsum dolor sit amet</li>
                <li>Consectetuer adipiscing elit</li>
                <li>Sed diam nonummy nibh</li>
            </ol>
        </div>
    </li>
    <li>
        <h3>Massachusetts Institute of Technology</h3>  <h5> 2006 - 2010 </h5>
                          
        <p class="description">
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut  laoreet dolore magna aliqua erat volutpat. 
            Ut wisi enim ad minim veniam, quis nostrud exerci tation ulla  mcorper suscipit lobortis nisl ut aliquip.
        </p>
    </li>
</ul>    