@inherits Umbraco.Web.Mvc.UmbracoViewPage<DynamicLoop.Components.Models.Master.MetaTagsModel>
@{
    Layout = null;
}

<h2 id="getInTouch">Get in touch !</h2>
<ul class="list">
    <li class="arrow-up">&nbsp;</li>
    <li>
        <ul id="social">
            <li id="RSS" title="RSS feed"><a href="#"></a></li>
            <li id="facebook" title="Facebook"><a href="#"></a></li>
            <li id="flikr" title="Flikr"><a href="#"></a></li>
            <li id="twitter" title="Twitter"><a href="#"></a></li>
            <li id="delicios" title="Delicios"><a href="#"></a></li>
            <li id="digg" title="Digg"><a href="#"></a></li>
        </ul>
	   
    </li>
</ul>