@inherits Umbraco.Web.Mvc.UmbracoViewPage<DynamicLoop.Components.Models.Home.SkillsModel>
@{
    Layout = null;
}

<h2>@Model.Title</h2>
<ul class="list">
    <li class="arrow-up">&nbsp;</li>
    @foreach(var skill in Model.Skills)
    {
        <li>
            <h3>@skill.Name</h3> 
            @if  (!string.IsNullOrEmpty(skill.Experience))
            {
                <h5>@skill.Experience</h5>
            }
            <div class="description">
                @Html.Raw(skill.Description)
            </div>
        </li>
    }
</ul>