@inherits Umbraco.Web.Mvc.UmbracoViewPage<DynamicLoop.Components.Models.Master.MetaTagsModel>
@{
    Layout = null;
}

<h2>Work experience </h2>
<ul class="list">
    <li class="arrow-up">&nbsp;</li>
    <li>
        <h3> Web Designer &amp; Developer </h3>  <h5> 2008 - PRESENT </h5>
        <h6> Cosy Interfaces, Full-time </h6>
                         
        <p class="description">
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut  laoreet dolore magna aliqua erat volutpat. 
            Ut wisi enim ad minim veniam, quis nostrud exerci tation ulla  mcorper suscipit lobortis nisl ut aliquip.
        </p>
    </li>
    <li>
        <h3> Front End Developer </h3>  <h5> 2006 - 2008</h5>
        <h6> Cosy Interfaces, Part-time </h6>
                          
        <p class="description">
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut  laoreet dolore magna aliqua erat volutpat. 
            Ut wisi enim ad minim veniam, quis nostrud exerci tation ulla  mcorper suscipit lobortis nisl ut aliquip.
        </p>
    </li>

</ul>   