@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "Master.cshtml";
}

<h2>Personal Projects</h2>
<ul class="list">
    <li class="arrow-up">&nbsp;</li>
    <li>
        <h3>Google Maps</h3> <h5> SOURCE CODE </h5> <h5> PREVIEW </h5>
        <div class="description">
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut  laoreet dolore magna aliqua erat volutpat. 
                Ut wisi enim ad minim veniam, quis nostrud exerci tation ulla  mcorper suscipit lobortis nisl ut aliquip.
        </div>
        <h5 class="read-more"> READ MORE </h5>
    </li>
    <li>
        <h3>AutoMapper</h3> <h5> SOURCE CODE </h5> <h5> PREVIEW </h5>
        <div class="description">
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut  laoreet dolore magna aliqua erat volutpat. 
                Ut wisi enim ad minim veniam, quis nostrud exerci tation ulla  mcorper suscipit lobortis nisl ut aliquip.
        </div>
        <h5 class="read-more"> READ MORE </h5>
    </li>
    <li>
        <h3>Dependency Injection</h3> <h5> SOURCE CODE </h5>
        <div class="description">
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut  laoreet dolore magna aliqua erat volutpat. 
                Ut wisi enim ad minim veniam, quis nostrud exerci tation ulla  mcorper suscipit lobortis nisl ut aliquip.
        </div>
        <h5 class="read-more"> READ MORE </h5>
    </li>
	<li>
        <h3>MVC</h3> <h5> SOURCE CODE </h5>
        <div class="description">
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut  laoreet dolore magna aliqua erat volutpat. 
                Ut wisi enim ad minim veniam, quis nostrud exerci tation ulla  mcorper suscipit lobortis nisl ut aliquip.
        </div>
        <h5 class="read-more"> READ MORE </h5>
    </li>
</ul>